<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="content about">
      <h2>About</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
        laboriosam possimus temporibus, nostrum fugiat quis modi voluptate
        doloribus placeat earum, id totam mollitia veritatis itaque reiciendis
        aspernatur, qui pariatur expedita unde repellat magni culpa. Natus
        doloremque quibusdam excepturi, tenetur, repellendus illo laudantium
        amet nesciunt magni eligendi quo dicta saepe fuga!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
        incidunt, iure rem similique inventore ad explicabo error totam quo
        aliquam.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas vero
        facere repudiandae ducimus quos voluptatibus fuga nostrum reprehenderit
        dignissimos eveniet ex quam, cum incidunt. Animi, omnis voluptatem
        assumenda doloremque mollitia nisi ducimus, ea incidunt quam laborum eos
        esse maiores dignissimos.
      </p>
    </div>
  </body>
</html>
